.myBooking-lists {
    border: 2px solid lime;
    /* position: absolute; */
    top: 12%;
    left: 32%;
    width: 531px;
    height: 496px;
    margin-left: 487px;
    /* text-align: initial; */
  }