.header-Css{
    display: inline-flex;
    position: relative;
    top: 20px;
    right: -615px;
    gap: 17px;
}

/* REGISTER CSS STYLES */
.register-page{
    position: relative;
    border: 2px solid red;
    height: 394px;
    width: 796px;
    top: 77px;
    left: 24%;
}
.register-fill {
    position: absolute;
    left: 78px;
    top: 34px;
    margin: 21px;
    padding-top: 10px;
}
.register-fill-input {
    display: inline-grid;
    position: relative;
    top: 83px;
    left: 65px;
    width: 53%;
}
.register-button{
    position: absolute;
    bottom: 39px;
    left: 49%;
}
.register-login{
    position: absolute;
    right: 14px;
    top: 23px;
    width: 92px;
}

/* LOGIN CSS STYLES */
.login-register{
    position: absolute;
    right: 42px;
    top: 23px;
    width: 92px;
}
.login-page{
    position: relative;
    border: 2px solid red;
    height: 394px;
    width: 796px;
    top: 77px;
    left: 24%;
}
.login-fill{
    position: absolute;
    left: 78px;
    top: 44px;
    margin: 21px;
    padding-top: 10px;
}
.login-fill-input{
    display: inline-grid;
    position: relative;
    top: 83px;
    left: 65px;
    width: 53%;
}
.login-button{
    position: absolute;
    bottom: 39px;
    left: 49%;
}


.booking-header {
    position: absolute;
    top: 0px;
    left: 138px;
    width: 1398px;
    height: 70px;
    /* border: 2px solid red; */
  }
  .booking-button {
    position: absolute;
    /* border: 2px solid; */
    width: 156px;
    right: 180px;
    top: 20px;
  }
  .booking-logout-button{
    position: absolute;
    /* border: 2px solid; */
    width: 156px;
    right: 10px;
    top: 20px;
  }
  .css-ke5b6m-MuiButtonBase-root-MuiButton-root{
    height: 55px;
  }
  .ticket-box{
    position: absolute;
    /* border: 2px solid red; */
    top: 105px;
    height: 85px;
    width: 60%;
    left: 317px;
  }
  .search-boxes {
    display: flex;
    gap: 80px;
    height: 83px;
    border: 2px solid black;
    width: 57%;
    position: fixed;
    left: 332px;
}

.from-input-box{
  position: relative;
  top: -1px;
  height: 84px;
  width: 155px;
}

  .mybookings{
    position: absolute;
    top: 21px;
    width: 82px;
    right: 20px;
  }
  .myBooking-lists{
    border: 2px solid green;
    position: absolute;
    top: 12%;
    left: 32%;
    width: 531px;
    height: 496px;
    text-align: initial;
  }
  Link{
    text-decoration: none;
  }

  .buses{
    position: absolute;
    border: 2px solid red;
    width: 94%;
    height: 205%;
    top: 130%;
    left: 2%;
    display: flex;
  }
  .left-side{
    width: 25%;
    height: 163px;
    border: 2px solid;
    text-align: initial;
  }